body {
	margin: 0px auto;
	width: 1000px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #444444;
	padding: 0px;
}

#fejlec {
	height: 100px;
	width: 1000px;
	background-color: #40F060;
}

#cim{
	text-align: left;
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	font-size: 48px;
	font-weight: bold;
	color: #105015;
}

#menu_es_tartalom {
	width: 100%;
}

#tartalom {
	float: left;
	height: 100%;
	width: 800px;
	margin: 10px 0px 0px 0px;
	background-color: #40B060;
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
}

#baloldalimenu {
	float: left;
	width: 190px;
	height: 100%;
	margin: 10px 10px 0px 0px;
	background-color:#40A060;
}

.menu {
	display: block;
	height: 20px;
	width: 180px;
	text-align: center;
	font-weight: bold;
	color: #444444;
	background-color: #ffffff;
	text-decoration: none;
}

.menu:hover {
	color: #336699;
	background-color: #cccccc;
}

.felhasznalok_tablazata {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	text-align: left;
	color: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	border: 2px double #409060;
}

.felhasznalok_tablazata th {
	text-align: center;
	font-family: inherit;
	font-weight: bold;
	color: #444444;
	border: 1px solid #40A060;
}
 
.felhasznalok_tablazata td {
	border: 1px solid #40A060;
}